.add_restaurant_input {
    padding: 0.2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: rgb(143, 143, 143) 1px solid;
    border-radius: 0.5em;
}