.add_restaurant_header {
    background-color: rgba(119, 0, 255, 0.61) !important;
}

.add_restaurant_input {
    padding: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: rgb(143, 143, 143) 1px solid;
    border-radius: 0.5em;
}

.add_restaurant_btn_modal {
    color: black !important;
    border: none !important;
    background-color: rgba(199, 199, 199, 0.774) !important;
}
 

.add_restaurant_btn_modal:hover {
    color: white !important;
    border: none !important;
    background-color: rgba(119, 0, 255, 0.26) !important;
}

.add_restaurant_btn_add {
    background-color:  rgb(51, 112, 153) !important;
    border: none !important;
}

.add_restaurant_btn_add:hover {
    background-color:  rgba(25, 116, 168, 0.377) !important;
    border: none !important;
}