.container_restaurants {
    display: flex;
    width: 40%;
    background-color: red;
    flex-direction: column;
}

.list_restaurants_items {
    display: flex;
    flex-direction: column;
    margin: .5em;
 
}

.list_restaurants_item {
    display: flex;
    flex-direction: row;
    padding: .5em;
    margin: .5em;
    background-color: green;
}

.restaurant_infos {
    display: flex;
    flex-direction: column;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .container_restaurants {
        width: 40%;
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .container_restaurants {
        width: 100%;
    }
}

/********** Mobile devices only **********/
@media only screen and (max-width: 767px) {
    .container_restaurants {
        width: 100%;
    }
}