.map {
    height: 500px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .map {
        width: 100%;
    }
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .map {
        width: 60%;
        height: 500px;
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .map {
        width: 100%;
    }
}

/********** Mobile devices only **********/
@media only screen and (max-width: 767px) {
    .map {
        width: 100%;
    }
}